h1{
    color: #fff;
}

.jumbotron{
    height:768px;s
    background-image: url(img/content.jpg);
    /*固定背景不动,默认值是srcoll，背景会随页面滚动*/
    background-attachment: scroll;
    /*默认会在水平和垂直方向重复*/
    background-repeat: no-repeat;
    background-size:cover;
    /*设置背景位置*/
    background-position: center center;
    ;
}

.jumbotron .btn{
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
.jumbotron h2{
    color:#fff;
    padding-top:0px;
    padding-bottom: 0px;
    margin:0px;
    background-color:rgba(0,0,0,0.3) ;
}
#blank{
    height:200px;
}
.blank2{
    height:20px;
}
.blank3{
    height:50px;
}